@charset "utf-8";
/* CSS Document */

html {
 height: 100%;
}
body {
 margin: 0;
 padding: 0;
 height: 100%;
}
.out_edit{
 display:inline-block;
}
.in_edit {
 display:none;
}
.div_task_text{
 display:inline-block;
 width: 600px;
}
.input_text{
  width: 600px;
  resize:none;
}
.li_task * {
 vertical-align: middle;
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: 14px;
}
.li_task {
 list-style-type: none;
 background:#FFFFE0;
 border: 1px solid black;
}
