@charset "utf-8";
/* CSS Document */

html {
 height: 100%;
}
body {
 margin: 0;
 padding: 0;
 height: 100%;
}
.out_edit{
 display:inline-block;
}
.in_edit {
 display:none;
}
.input_text{
 width: 600px;
 resize: none;
 paddingTop: 10px;
}
.task_form * {
 vertical-align: middle;
}
.task_li {
 margin:10px 0px 10px 0px;
}
